<!DOCTYPE html>
<html>
<head>
    @{
        String AppName = "Online Exam Portal";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/nihanth.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/yeti.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding-bottom:0px;">

        <div id="nav_container" class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@AppName</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a id="timeout" href="#"></a></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Student", new { area = "" }, new { @class = "" })</li>
                </ul>
            </div>
        </div>
    </div>
    @{
        OnlineExamPortal.Models.Student st = ViewBag.st;
        string FullName = st.FirstName + " " + st.LastName;
        OnlineExamPortal.Models.ActiveExam ae = ViewBag.examData;
    }
    <div id="main" style="display:flex;justify-content:flex-start;" class="body-content">
        <div class="flex:1" style="padding-left:15px;padding-right:15px;background-color:azure;">
            <h5>Pin Number:</h5><data> @st.Pin</data>
            <h5>Name : </h5><data>@FullName </data>
            <h5>Course : </h5><data>@st.Course</data>
            <h5>Sem : </h5><data>@st.Sem</data>
            <h5>College : </h5><data>@st.College</data>
            <h5>Exam Name : </h5><data>@ae.ExamName </data>
            <h5>Time Limit : </h5><data>@ae.Time  Minutes</data>
            <h5>Total no. of Questions : </h5><data>@ae.Questions </data>
            <button class="btn btn-block btn-success" onclick='$("#ExamForm").submit();'>Submit Exam</button>
        </div>
        <div style="flex:2;padding-left:15px;padding-right:15px;" class="body-content">
            @RenderBody()
        </div>
        <div style="flex:1;float:right;">
            <div class="btn-group">
                @{
                    string i2;
                    int i;
                    int n = ae.Questions;
                    for (i = 1; i <= n; i++)
                    {
                        if (i < 10)
                        {
                            i2 = "0" + i.ToString();
                        }
                        else
                        {
                            i2 = i.ToString();
                        }
                        <button onclick="show(@(i),@(n))" class="btn btn-default" id="q@(i)">@(i2)</button>
                        if (i % 6 == 0)
                        {
                            <br />
                        }
                    }
                }
            </div>
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - @AppName</p>
    </footer>
    <script type="text/javascript">
        var navHeight = $('#nav_container').height();
        $('#main').css("padding-top", navHeight);
    </script>
    <script src="~/Scripts/nihanth.js"></script>
    <script>
        show(1,@ae.Questions);
        countdown(@ae.Time * 60);
    </script>
</body>
</html>
