<!DOCTYPE html>
<html>
<head>
    @{
        String AppName = "Online Exam Portal";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/nihanth.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/yeti.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding-bottom:0px;">

        <div id="nav_container" class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@AppName</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <button type="button" class="btn navbar-nav navbar-btn bg-primary" data-toggle="modal" data-target="#myModal">Change Password</button>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Logout", "Logout", "Student", new { area = "" }, new { @class = "" })</li>
                </ul>
            </div>
        </div>
    </div>
    @{
        OnlineExamPortal.Models.Student st = ViewBag.st;
        string FullName = st.FirstName + " " + st.LastName;
    }
    <div id="main" class="row container body-content">
        <div class="col-md-4" style="background-color:azure;padding-bottom:20px;">
            <h5>Pin Number:</h5><data> @st.Pin</data>
            <h5>Name : </h5><data>@FullName </data>
            <h5>Course : </h5><data>@st.Course</data>
            <h5>Sem : </h5><data>@st.Sem</data>
            <h5>College : </h5><data>@st.College</data>
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - @AppName</p>
    </footer>
    <script type="text/javascript">
        var navHeight = $('#nav_container').height();
        $('#main').css("padding-top", navHeight);
    </script>

    <div id="myModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" id="newPassword" class="form-control" placeholder="Enter New Password" aria_describedby="basic-addon1" />
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Your Password" aria_describedby="basic-addon2" />
                        </div><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <p id="passwordText" style="color:red;"></p>
                    <button type="button" id="changePassword" onclick="changePassword()" class="btn btn-success btn-sm">Change Password</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function changePassword() {
            console.log("Change of Password Requested");
            if ($("#newPassword").val() == $("#confirmPassword").val()) {
                $.ajax({
                    type: "POST",
                    url: "/Student/ChangePassword",
                    data: 'Password='+ $("#newPassword").val(),
                    success: function (response) {
                        console.log(response);
                        $("#passwordText").html(response);
                    },
                    failure: function (response) {
                        console.log("Failure");
                        $("#passwordText").html(response);
                        alert(response.responseText);
                    },
                    error: function (response) {
                        console.log("Error");
                        $("#passwordText").html(response);
                        alert(response.responseText);
                    }
                });
            }
            else {
                $("#passwordText").html("The Passwords Do Not Match");
            }
        }
    </script>

</body>
</html>
